<h1>Product#show</h1>
<p>Find me in app/views/product/show.html.erb</p>

<p> Name: <%= @product.name %></p>
<p> Description: <%= @product.description %> </p>
<p> Pricing: <%= @product.pricing %> </p>
<p> Category: <%= @product.category.name %> </p>

<a href='/product/index'> Go Back </a>
